[Unit]
Description=Gunicorn instance to serve Flask app
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/protein-search-deployment/dependencies/ProteinSearch
User=ubuntu
Environment="PYTHONPATH=:/usr/local/lib"
ExecStart=/home/ubuntu/protein-search-deployment/dependencies/ProteinSearch/venv/bin/gunicorn --workers 1 --threads 16 --bind localhost:5000 app:application
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
